#widget{
    margin: 20px 0;
}

#widget .row{
    justify-content: space-between;
    position: relative;
    opacity: 1;
    animation: animateComponent 1s;
}

#widget .item{
    display: inline-block;
    width: 25%;
    padding: 0;
}
#widget .item:last-child{
    margin-bottom: 0;
}
#widget .item:not(:last-child){
    margin-bottom: 15px;
}
#widget .img.newOrders{ background-color: #30a5ff }
#widget .img.comments{ background-color: #ffb53e }
#widget .img.newUsers{ background-color: #1ebfae }
#widget .img.pageViews{ background-color: #f9243f }

#widget .img .fa{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#widget .valor{
    color: #000;
    font-size: 2.2em;
}
#widget .categoria{
    color: #9fa2a9;
    font-size: 1.2em;
    margin-top: 2px;
}
#widget .img{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}
#widget .resultado{
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 5px 0;
}
@media (min-width: 576px){
    #widget .item{
        height: 60px;
    }
    #widget .item:not(:last-child){
        margin-bottom: 2%;
    }
    #widget .wrapper{
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        margin-left: 15px;
    }
    #widget .img{
        width: 100px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    #widget .resultado{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        position: relative;
        width: calc(100% - 100px);
        padding: 0;
        text-align: left;
    }
}
@media (min-width: 768px){
    #widget .item{
        flex: 0 0 48%;
        max-width: 48%;
    }
    #widget .item:not(:nth-child(3)):not(:last-child){
        margin-bottom: 2%;
    }
    #widget .item:nth-child(3), #widget .item:last-child{
        margin-bottom: 0;
    }
    #widget .img{
        width: 75px;
    }
    #widget .resultado{
        width: calc(100% - 75px);
    }
}
@media (min-width: 992px){
    #widget .item{
        flex: 0 0 24%;
        max-width: 24%;
        margin-bottom: 0% !important;
    }   
}